# Node
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
*/node_modules/*

npm-debug.log

# IntelliJ
.idea/
*.iml

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store

# r.js
target/*
